.button {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  border: 2px solid white;
  cursor: pointer;
  padding: 5px 30px;
  color: white;
  font-weight: 500;
  font-size: 16px;
}
